

.container {
    font-family: sans-serif;
}

.name{
    font-size: 26px;
    font-weight: 600;
    text-shadow: 5px -1px 25px rgba(0,0,0,0.64);
    text-align: center;
    margin-top: 40px;
}

.skills{
    margin-top: 20px;
}

.skill-lists{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: '90px';
    flex-wrap: wrap;
}

.title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    
}

.card {

    padding: 10px;
    border: 2px solid black;


}

.company-name{
    font-weight: bold;
    background-color: yellow;
    width: 400px;
}

.project{

}

.project-name{
    background-color: chartreuse;
    width: 350px;
    font-weight: bold;

}

.contact-details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;

}

.contact-name{
    font-weight: bold;
}

.chip {
    display: inline-block;
    padding: 0 20px;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    border-radius: 25px;
    background-color: #F79432;
    color: #fff;
    /* font-family:sans-serif; */
  }
  

  .section{
    margin-left: 10%;
    margin-top: 50px;

  }

  .tech-stack{
    font-weight: bold;
  }
  
  .download-resume{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    font-size: large;
  }